// ======================================
//  Base Styles
// ======================================

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: $font-stack;
}

ul {
  list-style-type: none;
}

p {
  line-height: ($base__line/$base__font-size);
}

body {
  margin:0;
}
