.main-traffic {
  grid-area: mainTraffic;
  @extend %border-top;
  @extend %border-bottom;
  @extend %border-left;
  padding: em(30px);
  margin-top: em(50px);
  @include e(btn) {
    @include flexbox($just: flex-end);
    width: 100%;
    @include m(chart) {
      @extend %btn-small;
      margin-bottom: em(30px);
    }
  }
}

.daily-traffic {
  grid-area: dailyTraffic;
  @extend %border-bottom;
  @extend %border-left;
  padding: em(30px);
}

.mobile-users {
  grid-area: mobileUsers;
  @extend %border-bottom;
  @extend %border-left;
  padding: em(30px);
}

canvas {
  max-width: 85vw;
}
