.member {
  grid-area: newMembers;
  padding: em(30px);
  @extend %border-bottom;
  @extend %border-left;
  @include e(profile) {
     @include flexbox();
     @extend %border-bottom;
     padding-bottom: em(25px);
     margin: em(30px) em(30px) em(30px) 0;
     @include m(avatar) {
       @extend %img;
       margin-right: em(10px);
       object-fit: contain;
       @include flexbox($just: flex-start);
     }
     @include e(text) {
       @include e(name) {
         font-weight: $font-weight--bold;
       }
       @include e(item) {
         @include e(email) {
           a {
             @extend %no-txt-undln;
             color: $purple;
           }
         }
         @include e(date) {
           @include flexbox();
           @include mq("large") {
            @include pos($pos: absolute, $right: em(780px));
           }
         }
       }
     }
   }
 }
